@charset "UTF-8";
body {
  font-family: "Noto Serif JP", system-ui;
}

html {
  scroll-behavior: smooth;
}

.inner {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .inner {
    width: 1040px;
    max-width: 100%;
  }
}

section {
  margin-top: 120px;
  margin-bottom: 120px;
}

.section__title {
  font-size: 32px;
  text-align: center;
}

.section__en {
  font-size: 16px;
  color: #31452d;
  margin-top: 8px;
  position: relative;
  padding-bottom: 32px;
  display: block;
}
.section__en::after {
  position: absolute;
  width: 64px;
  height: 1px;
  content: "";
  background: #b69b04;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  .is-sp {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .is-pc {
    display: none;
  }
}

main {
  height: 300vh;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  color: #000;
  background: transparent;
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: rgba(255, 255, 255, 0.8);
}

.header__inner {
  padding: 18px;
  display: flex;
  gap: 30px;
  max-width: 1040px;
  margin: 0 auto;
  align-items: center;
}

.header__logo {
  width: 115px;
}

.header__nav {
  display: flex;
}
@media screen and (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.header__btn {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-left: 32px;
  padding-right: 32px;
}
.header__btn span {
  color: #b69b04;
  font-size: 12px;
}
.header__btn::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 36px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: #000;
}

.header__list {
  display: flex;
}
.header__list li {
  position: relative;
}
.header__list li::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 36px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: #000;
}
.header__list li:last-child::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 36px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: #000;
}
.header__list a {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
}
.header__list a span {
  color: #b69b04;
  font-size: 12px;
}

.drawer__icon {
  position: fixed;
  z-index: 102;
  top: 24px;
  right: 18px;
  width: 24px;
  height: 16px;
  display: flex;
  border: none;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .drawer__icon {
    display: none;
  }
}

.drawer__icon--bar {
  width: 100%;
  height: 1px;
  background: black;
}

.drawer__icon.js-show .drawer__icon--bar {
  background: #fff;
}
.drawer__icon.js-show .drawer__icon--bar:nth-of-type(1) {
  rotate: 45deg;
  translate: 0 7.5px;
}
.drawer__icon.js-show .drawer__icon--bar:nth-of-type(2) {
  display: none;
}
.drawer__icon.js-show .drawer__icon--bar:nth-of-type(3) {
  rotate: -45deg;
  translate: 0 -7.5px;
}

.drawer {
  position: fixed;
  z-index: 101;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  background: #31452d;
  overflow-y: scroll;
}

.drawer__body {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-block: 88px 40px;
  text-align: center;
}

.drawer__list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-bottom: 40px;
}
.drawer__list li a {
  color: #FFF;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.drawer__btn {
  display: inline-block;
  border-radius: 100vmax;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.drawer__icon--bar {
  transition: all 0.5s ease;
}

.drawer {
  translate: 101%;
  transition: translate 0.5s ease;
}
.drawer.js-show {
  translate: 0;
}

@media screen and (min-width: 768px) {
  .concept {
    margin-bottom: 600px;
  }
}

.concept__container {
  position: relative;
}

.concept__message {
  padding: 60px 40px;
  color: #fff;
  background: #31452d;
}
@media screen and (min-width: 768px) {
  .concept__message {
    position: absolute;
    left: 0;
    top: 184px;
    width: 50%;
  }
}

.concept__image img {
  height: 360px;
}
@media screen and (min-width: 768px) {
  .concept__image {
    position: absolute;
    top: 0;
    right: 0;
    width: 77%;
  }
  .concept__image img {
    height: 480px;
  }
}

.concept__message-main {
  font-size: 20px;
}
@media screen and (min-width: 768px) {
  .concept__message-main {
    font-size: 24px;
  }
}

.concept__message-sub {
  font-size: 16px;
  line-height: 2.5;
  margin-top: 24px;
  margin-bottom: 32px;
}

.concept-btn {
  text-align: right;
  padding-right: 10px;
}
.concept-btn span {
  margin-left: 8px;
}

.works {
  position: relative;
}

.works__bg {
  position: absolute;
  width: 75%;
  background: #eeead0;
  right: 0;
  content: "";
  top: 30%;
  height: 500px;
}

.works__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 40px;
  margin-bottom: 62px;
}
@media screen and (min-width: 768px) {
  .works__wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 152px;
    margin-bottom: 130px;
  }
}

.works__item-title {
  font-size: 20px;
  margin-left: 18px;
  margin-top: 17px;
  margin-bottom: 16px;
}

.works__item-link {
  font-size: 16px;
  margin-left: 18px;
  position: relative;
}
.works__item-link::before {
  position: absolute;
  content: "";
  bottom: 3px;
  left: -8px;
  width: 1px;
  height: 111px;
  background: #333;
}
.works__item-link::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background: transparent url(/img/arrow-b-icon@2x.svg) no-repeat center/contain;
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
}

.button {
  width: 150px;
  height: 45px;
  font-size: 16px;
  display: block;
  padding-top: 10px;
}

.button__normal {
  color: #31452d;
  border: 1px solid #31452d;
  text-align: center;
  margin: 0 auto;
}

.news__item {
  padding: 24px 0;
  display: block;
}
@media screen and (min-width: 768px) {
  .news__item {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .news__item:not(:first-child) {
    border-top: 1px solid #e5e5e5;
  }
}

.news__date {
  font-size: 14px;
}
.news__date span {
  margin-left: 25px;
  color: #31452d;
}
@media screen and (min-width: 768px) {
  .news__date span {
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
  }
  .news__date span::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 48px;
    background: #e5e5e5;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
  .news__date span::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 48px;
    background: #e5e5e5;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

.news__item-news {
  color: #b69b04 !important;
}

.news__title {
  font-size: 16px;
  margin-top: 5px;
}
@media screen and (min-width: 768px) {
  .news__title {
    padding-left: 42px;
  }
}

@media screen and (min-width: 768px) {
  .news__items {
    margin-bottom: 42px;
  }
}

.contact {
  padding: 40px 0;
  background: #eeead0;
  margin-bottom: 0;
}

.contact__item {
  padding: 30px 12px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .contact__item {
    display: block;
    padding: 0 55px;
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .contact__item:nth-child(2) {
    position: relative;
  }
}

@media screen and (min-width: 768px) {
  .contact__item:nth-child(2)::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 1px; /* 線の幅 */
    height: 190px;
    background-color: #333;
  }
}

@media screen and (min-width: 768px) {
  .contact__item:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px; /* 線の幅 */
    height: 190px;
    background-color: #333;
  }
}

@media screen and (min-width: 768px) {
  .contact__items {
    display: flex;
    max-width: 846px;
    margin: 0 auto;
    align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .contact__item-icon {
    margin-right: auto;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .contact__item-icon {
    text-align: center;
    margin-bottom: 18px;
  }
}

.contact__item-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .contact__item-text {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .contact__item-text {
    margin-bottom: 24px;
  }
}

.contact-btn {
  width: 150px;
  height: 46px;
  font-size: 16px;
  color: #fff;
  background: #31452d;
  text-align: center;
  padding-top: 10px;
}
@media screen and (max-width: 767px) {
  .contact-btn {
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .contact-btn {
    margin: 23px auto 0;
  }
}

.contact__item-btn--accent {
  background: #b69b04;
}

.contact__hours {
  text-align: right;
  color: #31452d;
  font-size: 12px;
  display: block;
}

.contact__item-btn--tel {
  position: relative;
}
.contact__item-btn--tel::after {
  position: absolute;
  content: "営業時間9:00〜18:00 (水曜定休)";
  color: #31452d;
  font-size: 14px;
  bottom: -28px;
  width: 100%;
  white-space: nowrap;
  left: -27px;
}

.pc__tel {
  font-size: 24px;
  font-family: "Lora", serif;
  text-align: center;
  color: #31452d;
}

.pc__hours {
  font-size: 12px;
  text-align: center;
  text-align: center;
  color: #31452d;
}

.footer {
  background: #31452d;
  color: #fff;
  text-align: center;
  font-size: 16px;
  padding-top: 40px;
  padding-bottom: 15px;
}

.footer__up {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__nav-item {
  padding: 24px 0;
  position: relative;
}
@media screen and (max-width: 767px) {
  .footer__nav-item:not(:first-child)::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
  }
}
@media screen and (min-width: 768px) {
  .footer__nav-item {
    padding: 0 32px;
  }
  .footer__nav-item:not(:first-child)::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 100%;
    width: 1px;
    background: #fff;
  }
}

@media screen and (min-width: 768px) {
  .footer__nav-container {
    display: flex;
    margin: 56px auto 122px;
    max-width: 700px;
  }
}

.footer__copy {
  background: #333;
  color: #fff;
}
@media screen and (max-width: 767px) {
  .footer__copy {
    padding-top: 33px;
    padding-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .footer__copy {
    padding: 20px 0;
  }
}

.copy__container-left--1 {
  position: relative;
  padding-right: 42px;
}
.copy__container-left--1::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  background: #fff;
  top: 0;
  right: 0;
}

.copy__container-left {
  font-size: 16px;
  display: flex;
  gap: 33px;
}
@media screen and (max-width: 767px) {
  .copy__container-left {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .copy__container-right {
    text-align: center;
    font-size: 12px;
    font-family: "Lora", serif;
  }
}

@media screen and (min-width: 768px) {
  .footer__copy-container {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .copy__container-right {
    margin-left: auto;
  }
}