@use "breakpoints";

$font-ja:"Noto Serif JP", system-ui;
$font-en:"Lora", serif;
$main-color:#31452d;
$accent-color:#b69b04;
$sub-color:#eeead0;
$font-color:#fff;
$font-color-dark:#333;

$layout-width-inner:1040px;

body{
    font-family: $font-ja;
}
html{
    scroll-behavior: smooth;
}
.inner{
    padding-left: calc(20 / 375 * 100vw);
    padding-right: calc(20 / 375 * 100vw);
    margin: 0 auto;
    @include breakpoints.mq(pc){
        max-width: $layout-width-inner;
        width: 100%;
    }
}
section{
    margin-top: 120px;
    margin-bottom: 120px;
}
.section__title{
    font-size: 32px;
    text-align: center;
}

.section__en{
    font-size: 16px;
    color: $main-color;
    margin-top: 8px;
    position: relative;
    padding-bottom: 32px;
    display: block;
    &::after{
        position: absolute;
        width: 64px;
        height: 1px;
        content: "";
        background: $accent-color;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
}
.is-sp{
    @include breakpoints.mq(pc){
        display: none;

    }
}
.is-pc{
    @include breakpoints.mq(sp){
        display: none;

    }
}

// ================================
//  初期設定 CSS
// ================================
main {
  height: 300vh;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}  

// buttonはブラウザによって初期設定されているものが多いので初期化をしておきます。
button {
  color: #000;
  background: transparent;
}
//ヘッダー ========================
.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: rgba( #fff, 0.8);
}
.header__inner {
  padding: 18px;
  display: flex;
  gap: 30px;
  max-width: $layout-width-inner;
  margin: 0 auto;
  align-items: center;
}
.header__logo{
    width: 115px;

}
.header__nav {
    display: flex;
  //spの場合非表示
  @media screen and (max-width: 1079px) {
  display: none;
}

}
.header__btn{
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 32px;
    padding-right: 32px;
    span{
        color: $accent-color;
        font-size: 12px;
    }
    &::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 36px;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      background-color: #000;
    }
}
.header__list {
  display: flex;

  li {
    position: relative; // 線の基準位置にする

    // 全てのliに左線を設定
    &::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 36px;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      background-color: #000;
    }

    // "最後のli"にだけ右線を設定
    &:last-child::after {
      position: absolute;
      content: "";
      width: 1px;
      height: 36px;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      background-color: #000;
    }
  }

  a {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;
    text-align: center;

    span {
      color: $accent-color;
      font-size: 12px;
    }
  }
}





//アイコン ====================
.drawer__icon {
  position: fixed;
  z-index: 102;
  top: 24px;
  right: 18px;
  width: 24px;
  height: 16px;
  display: flex;
  border: none;
  flex-direction: column;
  justify-content: space-between;
 @media screen and (min-width: 1080px) {
  display: none;
}
}
.drawer__icon--bar {
  width: 100%;
  height: 1px;
  background: black;
}

//メニューが開いている時 ========
.drawer__icon.js-show {
    .drawer__icon--bar {
        background: $font-color;
    }
  .drawer__icon--bar:nth-of-type(1) {
    rotate: 45deg;
    translate: 0 7.5px;
  }
  .drawer__icon--bar:nth-of-type(2) {
    display: none;
  }
  .drawer__icon--bar:nth-of-type(3) {
    rotate: -45deg;
    translate: 0 -7.5px;
  }
}

//ドロワーメニュー
.drawer {
  position: fixed;
  z-index: 101;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  height: 100svh;
  background: $main-color;
  overflow-y: scroll;
}
.drawer__body {
  width: 100%;
  height: fit-content;
  padding-block: 88px 40px;
  text-align: center;
}
.drawer__list {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-bottom: 40px;
  li a {
    color: #FFF;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
  }
}
.drawer__btn {
  display: inline-block;
  border-radius: 100vmax;
  color: $font-color;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.drawer__icon--bar {
  transition: all 0.5s ease;
}

//ドロワーの出現の動きを指定
.drawer {
  translate: 101%;
  transition: translate 0.5s ease;

  &.js-show {
    translate: 0;
  }
}

// fv //
.fv {
    img{
        width: 100%;
    }
}

//concept//
.concept{
    @include breakpoints.mq(pc){
        margin-bottom: 600px;
    }
}
.concept__container{
    position: relative;
}
.concept__message{
    padding: 60px 40px;
    color: $font-color;
    background: $main-color;
    @include breakpoints.mq(pc){
        position: absolute;
        left: 0;
        top: 184px;
        width: 50%;
    }
}
.concept__image{
    img{
        height: 360px;

    }
    @include breakpoints.mq(pc){
        position: absolute;
        top: 0;
        right: 0;
        width: 77%;
        img{
            height: 480px;
        }

}
}
.concept__message-main{
    font-size: 20px;
    @include breakpoints.mq(pc){
        font-size: 24px;

}
}
.concept__message-sub{
    font-size: 16px;
    line-height: 2.5;
    margin-top: 24px;
    margin-bottom: 32px;
}
.concept-btn{
    text-align: right;
    padding-right: 10px;
    span{
        margin-left: 8px;
    }


    }

//works//
.works{
    position: relative;
}
.works__bg{
    position: absolute;
    width: 75%;
    background: $sub-color;
    right: 0;
    content: "";
    top: 30%;
    height: 500px;


}
.works__wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px 40px;
    margin-bottom: 62px;
    @include breakpoints.mq(pc){
        grid-template-columns: repeat(3,1fr);
        gap: 40px 152px;
        margin-bottom: 130px;

}
}
.works__item-title{
    font-size: 20px;
    margin-left: 18px;
    margin-top: 17px;
    margin-bottom: 16px;
}
.works__item-link{
    font-size: 16px;
    margin-left: 18px;
    position: relative;
    &::before{
        position: absolute;
        content: "";
        bottom: 3px;
        left: -8px;
        width: 1px;
        height: 111px;
        background: $font-color-dark;
    }
    &::after{
        position: absolute;
        content: "";
        width: 16px;
        height: 16px;
        background: transparent url(/img/arrow-b-icon@2x.svg)no-repeat center/contain;
        top: 50%;
        transform: translateY(-50%);
        right: -20px;
    }
}
.button{
   width: 150px;
   height: 45px;
   font-size: 16px;
   display: block;
   padding-top: 10px;
}

.button__normal{
    color: $main-color;
    border: 1px solid $main-color;
    text-align: center;
    margin: 0 auto;
}

//news//
.news__item{
    padding: 24px 0;
    display: block;
    @include breakpoints.mq(pc){
        display: flex;
    }

}
.news__item:not(:first-child) {
    @include breakpoints.mq(sp){
    border-top:1px solid #e5e5e5;
    }

}
.news__date{
    font-size: 14px;
    span{
        margin-left: 25px;
        color: $main-color;
        @include breakpoints.mq(pc){
            padding-left: 50px;
            padding-right: 50px;
            position: relative;
            &::before{
                position: absolute;
                content:"";
                width: 1px;
                height: 48px;
                background: #e5e5e5;
                top: 50%;
                left: 0;
                transform: translateY(-50%);

            }
            &::after{
                position: absolute;
                content:"";
                width: 1px;
                height: 48px;
                background: #e5e5e5;
                top: 50%;
                right: 0;
                transform: translateY(-50%);

            }

        }
    }
}
.news__item-news{
    color: $accent-color !important;
}
.news__title{
    font-size: 16px;
    margin-top: 5px;
    @include breakpoints.mq(pc){
        padding-left: 42px;
    }

}
.news__items{
    @include breakpoints.mq(pc){
        margin-bottom: 42px;
    }

}
//contact//
.contact{
    padding: 40px 0;
    background: $sub-color;
    margin-bottom: 0;
}
.contact__item{
    padding: 30px 12px;
    display: flex;
    align-items: center;
    @include breakpoints.mq(pc){
        flex-direction: column;
        padding: 0 55px;
        position: relative;

    }
}
.contact__item:nth-child(2) {
    @include breakpoints.mq(pc){
    position: relative;
    }
  }

.contact__item:nth-child(2)::before{
    @include breakpoints.mq(pc){
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px; /* 線の幅 */
  height: 190px;
  background-color: $font-color-dark /* 線の色 */
}
}
.contact__item:nth-child(2)::after {
    @include breakpoints.mq(pc){
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 1px; /* 線の幅 */
  height: 190px;
  background-color: $font-color-dark /* 線の色 */
}
}
.contact__items{
    @include breakpoints.mq(pc){
        display: flex;
        max-width: 846px;
        margin: 0 auto;
        align-items: baseline;
    }
}
.contact__item-icon{
    @include breakpoints.mq(sp){
        margin-right: auto;
        display: flex;
        align-items: center;
    }
    @include breakpoints.mq(pc){
        text-align: center;
        margin-bottom: 18px;
    }
}
.contact__item-text{
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    @include breakpoints.mq(sp){
        display: flex;
        align-items: center;
    }
    @include breakpoints.mq(pc){
        margin-bottom: 24px;
    }
}
.contact-btn{
    width: 150px;
    height: 46px;
    font-size: 16px;
    color: $font-color;
    background:$main-color;
    text-align: center;
    padding-top: 10px;
    @include breakpoints.mq(sp){
        margin-left: auto;

    }
    @include breakpoints.mq(pc){
        margin: 0 auto;
    }
}
.contact__item-btn--accent{
    background: $accent-color;
}
.contact__hours{
    text-align: right;
    color: $main-color;
    font-size: 12px;
    display: block;
}
.contact__item-btn--tel{
    position: relative;
    &::after{
        position: absolute;
        content: "営業時間9:00〜18:00 (水曜定休)";
        color: $main-color;
        font-size: 14px;
        bottom: -28px;
        width: 100%;
        white-space: nowrap;
        left: -27px;
    }
}
.pc__tel {
   font-size: 24px;
   font-family: $font-en;
   text-align: center;
   color: $main-color;
}
.pc__hours{
    font-size: 12px;
    text-align: center;
    text-align: center;
    color: $main-color;
}

//footer//
.footer{
    background: $main-color;
    color: $font-color;
    text-align: center;
    font-size: 16px;
    padding-top: 40px;
    padding-bottom: 15px;
}
.footer__up{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer__nav-item{
    a{
        padding: 24px 0;
        width: 100%;

    }
    position: relative;
    @include breakpoints.mq(sp){
        &:not(:first-child){
            &::before{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: $font-color;
        }
        }

    }
    @include breakpoints.mq(pc){
        &:not(:first-child){
            &::before{
            position: absolute;
            content: "";
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            height: 100%;
            width: 1px;
            background: $font-color;
        }
        }

    }


}
.footer__nav-container{
    @include breakpoints.mq(pc){
       display: flex;
       margin: 56px auto 122px;
       max-width: 700px;
       justify-content: center;

    }
}
.footer__nav-item{
    a{
        @include breakpoints.mq(pc){
        padding: 0 32px;
    }
    }
}

//copy//
.footer__copy{
    background:$font-color-dark ;
    color: $font-color;
    @include breakpoints.mq(sp){
        padding-top: 33px;
        padding-bottom: 16px;

     }
     @include breakpoints.mq(pc){
        padding: 20px 0;
    }

}
.copy__container-left--1{
    position: relative;
        padding-right: 42px;
        &::after{
            position: absolute;
            content: "";
            width: 1px;
            height: 100%;
            background: $font-color;
            top: 0;
            right: 0;
        }


}
.copy__container-left{
    font-size: 16px;
    display: flex;
    gap: 33px;
    @include breakpoints.mq(sp){
        margin-bottom: 40px;
        justify-content: center;
    }
}
.copy__container-right{
    @include breakpoints.mq(sp){
        text-align: center;
        font-size: 12px;
        font-family: $font-en;
    }

}
.footer__copy-container {
    @include breakpoints.mq(pc){
        display: flex;
    }
}
.copy__container-right{
    @include breakpoints.mq(pc){
        margin-left: auto;
    }
}









